<h1 style="text-align: center;">Usuarios nuevos</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/register" method="post" class="text-center">
            <div class="form-group">
                <input type="email" name="email" placeholder="Ingrese un correo"  class="form-control mb-3" required>
            </div>
            <div class="form-group">
                <input type="text" name="userName" placeholder="Ingrese su usuario"  class="form-control mb-3" required>
            </div>
            <div class="form-group">
                <input type="tel" name="Telefono" placeholder="Su numero de telefono" class="form-control mb-3" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Ingrese su contraseña" class="form-control mb-3" required>
            </div>
            <div class="form-group">
                <input type="password" name="repassword" placeholder="Reingrese su contraseña"  class="form-control mb-3" required>
            </div>
            <button class="btn btn-success" type="submit">Registrarse</button>
            <a href="/auth/login" class="btn btn-black" >Iniciar sesion</a>
        </form>
    </div>
</div>

<style>
    .form-control {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho */
}
.btn-black {
    background-color: black;  /* Color de fondo negro */
    color: white;             /* Color del texto en blanco */
    border: none;            /* Sin borde */
}

.btn-black:hover {
    background-color: #333; /* Un gris oscuro para el hover */
}

</style>